@font-face {
  font-family: 'Beleren Bold';
  src: url('./beleren-bold.ttf');
}

#img_container {
  position: absolute;
  background-image: url('./mtg-vdb_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: none;
}

#img_container img {
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#img_container .create_deck {
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  font-family: 'Beleren Bold';
  position: fixed;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #e7e7e9;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  border: 2px solid transparent;
  outline: none;
}

#img_container .load_deck {
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  font-family: 'Beleren Bold';
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: none;
  color: #e7e7e9;
  font-size: 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 150px;
  height: 75px;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  border: 2px solid transparent;
  outline: none;
}

.load_deck::before, .load_deck::after, .load_span::before, .load_span::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

.create_deck::before, .create_deck::after, .create_span::before, .create_span::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

.create_deck::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition: 0.5s all;
}
.create_deck::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: 0.5s all;
}

.load_deck::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition: 0.5s all;
}
.load_deck::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: 0.5s all;
}

.create_span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transition: 0.5s all;
}

.create_deck:hover::before, .create_deck:hover::after {
  width: 75px;
  height: 50px;
}

.create_deck:hover .create_span::before, .create_deck:hover .create_span::after {
  width: 75px;
  height: 50px;
}

.load_deck:hover::before, .load_deck:hover::after {
  width: 75px;
  height: 50px;
}

.load_deck:hover .load_span::before, .load_deck:hover .load_span::after {
  width: 75px;
  height: 50px;
}

.create_span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transition: 0.5s all;
}

.load_span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transition: 0.5s all;
}
.load_span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transition: 0.5s all;
}

#img_container .create_deck:hover, #img_container .load_deck:hover {
  background-color: rgb(61, 61, 61);
}

#title-bar {
  -webkit-app-region: drag !important;
  position: relative;
  width: 100%;
  height: 40px;
  padding: none;
  margin: 0px;
  z-index: 2;
}

#title-bar-btns {
  position: relative;
  width: 100%;
  height: 40px;
  padding: none;
  margin: 0px;
}

#close_btn {
  -webkit-app-region: no-drag;
  color: rgb(49, 47, 47);
  float: right;
  font-size: 28px;
  padding-right: 10px;
  padding-top: 10px;
}

#close_btn:hover {
  color: rgb(128, 128, 128);
  cursor: pointer;
}

html, * {
  padding: 0;
  margin: 0;
}